/* Any command palette style menu should show up in a fixed position at the top */
.MuiDialog-container {
  align-items: flex-start !important;
  padding-top: 48px;
}

.MuiListItemIcon-root {
  min-width: 40px !important;
}

.MuiListItemText-root.MuiListItemText-inset {
  padding-left: 40px;
}

/* Move the snackbar up from the bottom a bit */
.MuiSnackbar-anchorOriginBottomCenter {
  bottom: 36px !important;
}