services:
  # base services - redis, postgres

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
      - "8001:8001"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: "5s"
    volumes:
      - ./docker/redis/data:/data
    profiles:
      - base
      - dev
      - all

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      PGUSER: postgres
      POSTGRES_PASSWORD: postgres
      ADDITIONAL_DATABASES: kratos
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
      - ./docker/postgres/scripts:/docker-entrypoint-initdb.d
    profiles:
      - base
      - dev
      - all

  # files service - local aws alternative, use this or file-storage

  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack}"
    image: localstack/localstack:latest
    ports:
      - "127.0.0.1:4566:4566" # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN:-}
      - DEBUG=${DEBUG:-0}
      - SERVICES=s3:4566
      - HOSTNAME=localstack
      - HOSTNAME_EXTERNAL=localstack
      - DEFAULT_REGION=us-east-2
      - DISABLE_CUSTOM_CORS_S3=true
      - DISABLE_CORS_CHECKS=true
      - EXTRA_CORS_ALLOWED_ORIGINS=*
    volumes:
      - "./docker/localstack/scripts/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh" # ready hook
      - "./docker/localstack/data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    profiles:
      - base
    networks:
      - host

  # quadratic services - client, api, multiplayer, files, connection

  quadratic-client:
    extends:
      file: docker-compose.${ECR_OR_BUILD}.yml
      service: quadratic-client
    container_name: client
    environment:
      VITE_DEBUG: 1
      VITE_QUADRATIC_API_URL: ${QUADRATIC_API_URL_EXTERNAL}
      VITE_QUADRATIC_MULTIPLAYER_URL: ${QUADRATIC_MULTIPLAYER_URL_EXTERNAL}
      VITE_QUADRATIC_CONNECTION_URL: ${QUADRATIC_CONNECTION_URL_EXTERNAL}
      VITE_AUTH_TYPE: ${AUTH_TYPE}
      VITE_STORAGE_TYPE: ${STORAGE_TYPE}
      VITE_ORY_HOST: ${KRATOS_URL_EXTERNAL}
    ports:
      - 3000:80
    command: >
      sh -c "/client/scripts/replace_env_vars.sh &&
            nginx -g \"daemon off;\""
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://host.docker.internal:3000/ || exit 1"]
      interval: 10s
      timeout: 5s
    restart: "always"
    volumes:
      - ./docker/client:/client
      - ./docker/client/config/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      quadratic-api:
        condition: service_started
    profiles:
      - quadratic-client
      - frontend
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  quadratic-api:
    extends:
      file: docker-compose.${ECR_OR_BUILD}.yml
      service: quadratic-api
    container_name: api
    environment:
      CORS: "*"
      DATABASE_URL: ${DATABASE_DSN}
      ENVIRONMENT: ${ENVIRONMENT}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      EXA_API_KEY: ${EXA_API_KEY}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}
      AWS_S3_ACCESS_KEY_ID: ${AWS_S3_ACCESS_KEY_ID}
      AWS_S3_SECRET_ACCESS_KEY: ${AWS_S3_SECRET_ACCESS_KEY}
      M2M_AUTH_TOKEN: ${M2M_AUTH_TOKEN}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      AUTH_TYPE: ${AUTH_TYPE}
      ORY_JWKS_URI: ${JWKS_URI}
      ORY_ADMIN_HOST: ${ORY_ADMIN_HOST}
      STORAGE_TYPE: ${STORAGE_TYPE}
      QUADRATIC_FILE_URI: ${QUADRATIC_FILES_URL_INTERNAL}
      QUADRATIC_FILE_URI_PUBLIC: ${QUADRATIC_FILES_URL_EXTERNAL}
      LICENSE_KEY: ${LICENSE_KEY}
    restart: "always"
    ports:
      - "8000:8000"
    command: bash -c "npx prisma migrate deploy --schema quadratic-api/prisma/schema.prisma && npm run start:prod --workspace=quadratic-api"
    depends_on:
      postgres:
        condition: service_healthy
    profiles:
      - api
      - backend
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  quadratic-multiplayer:
    extends:
      file: docker-compose.${ECR_OR_BUILD}.yml
      service: quadratic-multiplayer
    container_name: multiplayer
    environment:
      RUST_LOG: ${RUST_LOG}
      HOST: ${QUADRATIC_MULTIPLAYER_HOST}
      PORT: ${QUADRATIC_MULTIPLAYER_PORT}
      HEARTBEAT_CHECK_S: ${QUADRATIC_MULTIPLAYER_HEARTBEAT_CHECK_S}
      HEARTBEAT_TIMEOUT_S: ${QUADRATIC_MULTIPLAYER_HEARTBEAT_TIMEOUT_S}
      QUADRATIC_API_URI: ${QUADRATIC_API_URL_INTERNAL}
      M2M_AUTH_TOKEN: ${M2M_AUTH_TOKEN}
      ENVIRONMENT: ${ENVIRONMENT}
      PUBSUB_HOST: ${PUBSUB_HOST}
      PUBSUB_PORT: ${PUBSUB_PORT}
      PUBSUB_PASSWORD: ${PUBSUB_PASSWORD}
      PUBSUB_ACTIVE_CHANNELS: ${PUBSUB_ACTIVE_CHANNELS}
      AUTH0_JWKS_URI: ${JWKS_URI}
      AUTHENTICATE_JWT: true
    restart: "always"
    ports:
      - "3001:3001"
    depends_on:
      redis:
        condition: service_healthy
      quadratic-client:
        condition: service_healthy
      quadratic-api:
        condition: service_started
    profiles:
      - quadratic-multiplayer
      - backend
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  quadratic-files:
    extends:
      file: docker-compose.${ECR_OR_BUILD}.yml
      service: quadratic-files
    container_name: files
    environment:
      RUST_LOG: ${RUST_LOG}
      HOST: ${QUADRATIC_FILES_HOST}
      PORT: ${QUADRATIC_FILES_PORT}
      FILE_CHECK_S: ${QUADRATIC_FILES_FILE_CHECK_S}
      FILES_PER_CHECK: ${QUADRATIC_FILES_FILES_PER_CHECK}
      TRUNCATE_FILE_CHECK_S: ${QUADRATIC_FILES_TRUNCATE_FILE_CHECK_S}
      TRUNCATE_TRANSACTION_AGE_DAYS: ${QUADRATIC_FILES_TRUNCATE_TRANSACTION_AGE_DAYS}
      ENVIRONMENT: ${ENVIRONMENT}
      AUTH0_JWKS_URI: ${JWKS_URI}
      QUADRATIC_API_URI: ${QUADRATIC_API_URL_INTERNAL}
      M2M_AUTH_TOKEN: ${M2M_AUTH_TOKEN}
      PUBSUB_HOST: ${PUBSUB_HOST}
      PUBSUB_PORT: ${PUBSUB_PORT}
      PUBSUB_PASSWORD: ${PUBSUB_PASSWORD}
      PUBSUB_ACTIVE_CHANNELS: ${PUBSUB_ACTIVE_CHANNELS}
      PUBSUB_PROCESSED_TRANSACTIONS_CHANNEL: ${PUBSUB_PROCESSED_TRANSACTIONS_CHANNEL}
      STORAGE_TYPE: ${STORAGE_TYPE}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}
      AWS_S3_ACCESS_KEY_ID: ${AWS_S3_ACCESS_KEY_ID}
      AWS_S3_SECRET_ACCESS_KEY: ${AWS_S3_SECRET_ACCESS_KEY}
      STORAGE_DIR: ${STORAGE_DIR}
      STORAGE_ENCRYPTION_KEYS: ${ENCRYPTION_KEY}
    restart: "always"
    ports:
      - "3002:3002"
    volumes:
      - ./docker/file-storage:/file-storage
    depends_on:
      redis:
        condition: service_healthy
      quadratic-client:
        condition: service_healthy
      quadratic-api:
        condition: service_started
    profiles:
      - quadratic-files
      - backend
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  quadratic-connection:
    extends:
      file: docker-compose.${ECR_OR_BUILD}.yml
      service: quadratic-connection
    container_name: connection
    environment:
      RUST_LOG: ${RUST_LOG}
      HOST: ${QUADRATIC_CONNECTION_HOST}
      PORT: ${QUADRATIC_CONNECTION_PORT}
      ENVIRONMENT: ${ENVIRONMENT}
      AUTH0_JWKS_URI: ${JWKS_URI}
      QUADRATIC_API_URI: ${QUADRATIC_API_URL_INTERNAL}
      M2M_AUTH_TOKEN: ${M2M_AUTH_TOKEN}
      MAX_RESPONSE_BYTES: ${QUADRATIC_CONNECTION_MAX_RESPONSE_BYTES}
      STATIC_IPS: ${QUADRATIC_CONNECTION_STATIC_IPS}
    restart: "always"
    ports:
      - "3003:3003"
    depends_on:
      quadratic-client:
        condition: service_healthy
      quadratic-api:
        condition: service_started
    profiles:
      - quadratic-connection
      - backend
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  quadratic-dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dev
    environment:
      # common
      ENVIRONMENT: ${ENVIRONMENT}
      RUST_LOG: ${RUST_LOG}
      STORAGE_TYPE: ${STORAGE_TYPE}
      QUADRATIC_API_URI: ${QUADRATIC_API_URL_INTERNAL}
      AUTH0_JWKS_URI: ${JWKS_URI}
      M2M_AUTH_TOKEN: ${M2M_AUTH_TOKEN}
      PUBSUB_HOST: ${PUBSUB_HOST}
      PUBSUB_PORT: ${PUBSUB_PORT}
      PUBSUB_PASSWORD: ${PUBSUB_PASSWORD}
      PUBSUB_ACTIVE_CHANNELS: ${PUBSUB_ACTIVE_CHANNELS}
      HOST: 0.0.0.0
      # client
      VITE_DEBUG: 1
      VITE_QUADRATIC_API_URL: ${QUADRATIC_API_URL_EXTERNAL}
      VITE_QUADRATIC_MULTIPLAYER_URL: ${QUADRATIC_MULTIPLAYER_URL_EXTERNAL}
      VITE_QUADRATIC_CONNECTION_URL: ${QUADRATIC_CONNECTION_URL_EXTERNAL}
      VITE_AUTH_TYPE: ${AUTH_TYPE}
      VITE_STORAGE_TYPE: ${STORAGE_TYPE}
      VITE_ORY_HOST: ${KRATOS_URL_EXTERNAL}
      # api
      CORS: "*"
      DATABASE_URL: ${DATABASE_DSN}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      ENCRYPTION_KEY: ${ENCRYPTION_KEY}
      AUTH_TYPE: ${AUTH_TYPE}
      ORY_JWKS_URI: ${JWKS_URI}
      ORY_ADMIN_HOST: ${ORY_ADMIN_HOST}
      QUADRATIC_FILE_URI: ${QUADRATIC_FILES_URL_INTERNAL}
      QUADRATIC_FILE_URI_PUBLIC: ${QUADRATIC_FILES_URL_EXTERNAL}
      LICENSE_KEY: ${LICENSE_KEY}
      # multiplayer
      # PORT: ${QUADRATIC_MULTIPLAYER_PORT}
      HEARTBEAT_CHECK_S: ${QUADRATIC_MULTIPLAYER_HEARTBEAT_CHECK_S}
      HEARTBEAT_TIMEOUT_S: ${QUADRATIC_MULTIPLAYER_HEARTBEAT_TIMEOUT_S}
      AUTHENTICATE_JWT: true
      # files
      # PORT: ${QUADRATIC_FILES_PORT}
      FILE_CHECK_S: ${QUADRATIC_FILES_FILE_CHECK_S}
      FILES_PER_CHECK: ${QUADRATIC_FILES_FILES_PER_CHECK}
      TRUNCATE_FILE_CHECK_S: ${QUADRATIC_FILES_TRUNCATE_FILE_CHECK_S}
      TRUNCATE_TRANSACTION_AGE_DAYS: ${QUADRATIC_FILES_TRUNCATE_TRANSACTION_AGE_DAYS}
      PUBSUB_PROCESSED_TRANSACTIONS_CHANNEL: ${PUBSUB_PROCESSED_TRANSACTIONS_CHANNEL}
      STORAGE_DIR: ${STORAGE_DIR}
      STORAGE_ENCRYPTION_KEYS: ${ENCRYPTION_KEY}
      # connection
      # PORT: ${QUADRATIC_CONNECTION_PORT}
      MAX_RESPONSE_BYTES: ${QUADRATIC_CONNECTION_MAX_RESPONSE_BYTES}
      STATIC_IPS: ${QUADRATIC_CONNECTION_STATIC_IPS}
    ports:
      - "3000:3000"
      - "8000:8000"
      - "3001:3001"
      - "3002:3002"
      - "3003:3003"
    volumes:
      - ./:/quadratic
    depends_on:
      - postgres
      - redis
    profiles:
      - quadratic-dev
      - dev
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"
    tty: true
    stdin_open: true

  # auth service - ory

  ory-auth:
    image: oryd/kratos:v1.2.0
    container_name: ory-auth
    ports:
      - "4433:4433" # public
      - "4434:4434" # admin
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    volumes:
      - ./docker/ory-auth/config:/etc/config/kratos
    environment:
      DSN: ${ORY_DSN}
      LOG_LEVEL: ${ORY_LOG_LEVEL}
    restart: unless-stopped
    depends_on:
      - postgres
      - ory-auth-migrate
    profiles:
      - ory
      - dev
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ory-auth-migrate:
    image: oryd/kratos:v1.2.0
    container_name: ory-auth-migrate
    command: migrate -c /etc/config/kratos/kratos.yml sql -e --yes
    volumes:
      - ./docker/ory-auth/config:/etc/config/kratos
    environment:
      DSN: ${ORY_DSN}
    restart: on-failure
    depends_on:
      - postgres
    profiles:
      - ory
      - dev
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ory-auth-node:
    image: oryd/kratos-selfservice-ui-node:v1.2.0
    container_name: ory-auth-node
    ports:
      - "4455:4455"
    environment:
      PORT: ${KRATOS_NODE_PORT}
      KRATOS_PUBLIC_URL: ${KRATOS_URL_INTERNAL}
      KRATOS_BROWSER_URL: ${KRATOS_URL_EXTERNAL}
      COOKIE_SECRET: ${KRATOS_COOKIE_SECRET}
      CSRF_COOKIE_NAME: ${KRATOS_CSRF_COOKIE_NAME}
      CSRF_COOKIE_SECRET: ${KRATOS_CSRF_COOKIE_SECRET}
    restart: on-failure
    depends_on:
      - ory-auth
    profiles:
      - ory
      - dev
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ory-auth-mail:
    image: oryd/mailslurper:latest-smtps
    container_name: ory-auth-mail
    ports:
      - "1025:1025"
      - "4436:4436"
      - "4437:4437"
      - "8080:8080"
    profiles:
      - ory
      - dev
      - all
    networks:
      - host
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # databases to be used for testing by the connection service - postgres, mysql, mssql

  postgres-connection:
    image: postgres:15
    restart: always
    container_name: postgres-connection
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: postgres-connection
      POSTGRES_USER: user
      PGUSER: user
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d postgres-connection"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./docker/postgres-connection/data:/var/lib/postgresql/data
      - ./docker/postgres-connection/scripts:/docker-entrypoint-initdb.d
    profiles:
      - quadratic-connection
      - quadratic-connection-db
      - quadratic-connection-db-postgres

  mysql-connection:
    image: mysql:8
    restart: always
    container_name: mysql-connection
    user: "999:999"
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: mysql-connection
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./docker/mysql-connection/data:/var/lib/mysql:rw
      - ./docker/mysql-connection/scripts:/docker-entrypoint-initdb.d/
    profiles:
      - quadratic-connection
      - quadratic-connection-db
      - quadratic-connection-db-mysql

  mssql-connection:
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    container_name: mssql-connection
    user: mssql
    ports:
      - 1433:1433
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: yourStrong(!)Password
      MSSQL_PID: Express
    volumes:
      - ./docker/mssql-connection/data:/var/opt/mssql
      - ./docker/mssql-connection/scripts:/docker-entrypoint-initdb.d/
    healthcheck:
      test:
        [
          "CMD",
          "/opt/mssql-tools18/bin/sqlcmd",
          "-S",
          "localhost",
          "-U",
          "sa",
          "-P",
          "yourStrong(!)Password",
          "-Q",
          "SELECT 1",
          "-C",
          "-N",
          "-t",
          "30",
        ]
      interval: 10s
      timeout: 5s
      start_period: 30s
      retries: 5
    command: >
      bash -c "
      /opt/mssql/bin/sqlservr &
      sleep 10 &&
      /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'yourStrong(!)Password' -i /docker-entrypoint-initdb.d/create_db.sql -C -N -t 30 &&
      /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'yourStrong(!)Password' -i /docker-entrypoint-initdb.d/seed_db.sql -C -N -t 30 &&
      tail -f /dev/null"
    profiles:
      - quadratic-connection
      - quadratic-connection-db
      - quadratic-connection-db-mssql

volumes:
  docker:
    name: docker

networks:
  host:
