.borderMenu {
  padding: 5px 10px 0;
  display: flex;
}

.borderMenuLine {
  display: flex;
  padding-right: 5px;
}

.borderMenuType {
  cursor: pointer;
  padding: 2px;
}

.borderMenuType:hover:not(.borderSelected):not(.borderDisabled) {
  background: #f6f8fa;
}

.borderSelected {
  background: #cfd7de;
}

.borderMenuFormatting {
  border-left: 1px solid lightgray;
}

.borderSubmenu {
  margin: 2px 0;
}

.borderSubmenu > .szh-menu__item--submenu {
  padding: 0;
  padding-right: 25px;
  margin: 2px -5px 7px 5px;
  background: transparent;
}

#FillColorMenuID > div > div {
  box-shadow: none !important;
}

.borderDisabled {
  opacity: 0.25;
}
