.codeEditorReturnHighlight {
  /* font-weight: medium; */
}

.codeEditorReturnLineDecoration::after {
  content: "\23CE";
  color: black;
  font-family: OpenSans;
  position: absolute;
  left: 5px;
  transform: scaleX(-1);
}