/* By default, we visually hide the icons until the font is loaded
   This prevents the icon text from showing up.
   Also: removing the `opacity` rule makes it so tailwind classes like `opacity-x`
   will work regardless of specificity. */
[data-material-symbols-loaded='false'] .material-symbols-outlined {
  opacity: 0;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-display: block;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-12 {
  width: 12px;
  height: 12px;
  font-size: 12px;
  font-variation-settings: 'OPSZ' 12;
}

.material-symbols-16 {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-variation-settings: 'OPSZ' 16;
}

.material-symbols-20 {
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}

.material-symbols-40 {
  width: 40px;
  height: 40px;
  font-size: 40px;
  font-variation-settings: 'OPSZ' 20;
}

.material-symbols-64 {
  width: 64px;
  height: 64px;
  font-size: 64px;
  font-variation-settings: 'OPSZ' 20;
}
