.code-info-container {
  position: 'relative';
  opacity: 0;
}

.code-info-header {
  margin-bottom: 0.5rem;
}

.code-info-header-space {
  margin: 0.5rem 0;
}

.code-info-body {
  font-size: 0.75rem;
}

.code-info-body > div:first-child {
  margin-bottom: 0.5rem;
}

.code-info-fade-in {
  opacity: 1;
  transition: opacity 150ms linear 1s;
}

.code-info-fade-in-no-delay {
  opacity: 1;
  transition: opacity 150ms linear;
}

.code-info-fade-out {
  opacity: 0;
  transition: opacity 150ms linear;
}

.code-body {
  font-family: monospace;
  white-space: pre;
  overflow: hidden;
  font-size: 0.65rem;
  max-height: 20rem;
  background-color: rgba(0, 0, 0, 0.01);
}
