.lineStyleBorder {
  display: block;
  width: 100%;
}

.normalBorder {
  border-top: 1px solid currentColor;
}

.doubleBorder {
  border-top: 2px solid currentColor;
}

.tripleBorder {
  border-top: 3px solid currentColor;
}

.dashedBorder {
  border-top: 1px dashed currentColor;
}

.dottedBorder {
  border-top: 1px dotted currentColor;
}

.twoLineBorder {
  position: relative;
  top: 2px;
  border-top: 2px double currentColor;
  position: relative;
  margin-bottom: 5px;
}
