.compact-picker {
  width: 160px !important;

  /* hides custom RBG input on color picker */
  .flexbox-fix {
    display: none !important;
  }

  div span div {
    position: relative;
    border-radius: 2px;
    overflow: hidden;

    &:before {
      content: '';
      box-shadow: inset 0 0 0 1px rgba(0 0 0 / 10%);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.color-picker-clear {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  font-size: 0.875rem;
}

.color-picker-clear span {
  text-indent: 20px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0 0 0 / 10%);
    height: 15px;
    width: 15px;
    overflow: hidden;
  }
  &:after {
    content: '';
    width: 2px;
    height: calc(100% + 2px);
    position: absolute;
    top: 1px;
    left: 0;
    background: red;
    transform: rotate(45deg) translate(3px, -6px);
    border-radius: 2px;
  }
}

.color-picker-submenu .szh-menu {
  padding: 4px !important;
}

.color-picker-submenu .szh-menu > div > div,
.color-picker-dropdown-menu > div > div {
  box-shadow: none !important;
}
