.html-cells {
  position: relative;
  left: 0;
  pointer-events: none;
}

.html-cell {
  background: white;
  position: absolute;
  box-sizing: border-box;
  touch-action: none pan-x pan-y;
}

.html-resize-control-right,
.html-resize-control-bottom {
  z-index: 200;
  transition: 0.2s ease background-color 0ms;
}

/* Vertical control, right side */
.html-resize-control-right {
  width: 5px;
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  right: -6px;
  background-color: yellow;
}

.html-resize-control-right {
  cursor: col-resize;
}

/* Horizontal control, bottom side */
.html-resize-control-bottom {
  position: relative;
  width: calc(100% + 2px);
  height: 5px;
  cursor: row-resize;
  bottom: -6px;
  left: -1px;
  background-color: yellow;
}

.html-resize-control-show {
  background-color: purple;
}
