/* Shared styles for the 1px line */
.resize-control {
  background-color: var(--resize-control-background);
  z-index: 10;
}

/* Vertical control, right side */
.resize-control--position-RIGHT {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1px;
  cursor: col-resize;
}

/* Horizontal control, bottom side */
.resize-control--position-BOTTOM {
  position: relative;
  width: 100%;
  height: 1px;
  cursor: row-resize;
  bottom: 0px;
}

/* Effect upon hover/drag */
.resize-control:before {
  content: '';
  transition: 0.2s ease background-color 0ms;
}
.resize-control--position-RIGHT:before {
  position: absolute;
  width: 5px;
  height: 100%;
  right: -2px;
  top: 0;
}
.resize-control--position-BOTTOM:before {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -2px;
  left: 0;
}
.resize-control--is-dragging:before,
.resize-control:hover:before {
  background-color: var(--resize-control-highlight);
  z-index: 100;
  /* Delay the transition effect so it only appears when the user shows intent */
  transition: 0.2s ease background-color 300ms;
}

/* When control is being dragged, applies styles to body to prevent text
   selection and try to keep correct cursor displayed */
body:has(.resize-control--is-dragging) {
  user-select: none;
}
body:has(.resize-control--is-dragging.resize-control--position-LEFT) {
  cursor: col-resize !important;
}
body:has(.resize-control--is-dragging.resize-control--position-TOP) {
  cursor: row-resize !important;
}
