.sheet-bar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  background: #eeeeee;
  font-size: 0.7rem;
}

.sheet-bar-add {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.sheet-bar-add button {
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

.sheet-bar-arrows {
  display: flex;
  height: 100%;
  align-items: center;
}

.sheet-bar-arrow {
  border: none;
  display: flex;
  justify-content: center;
}

.sheet-bar-sheets {
  display: flex;
  flex-shrink: 1;
  width: 100%;
  overflow: hidden;
}
