#cell-edit .monaco-editor[data-text-align='left'] .view-line {
  text-align: left;
}

#cell-edit .monaco-editor[data-text-align='right'] .view-line {
  text-align: right;
}

#cell-edit .monaco-editor[data-text-align='center'] .view-line {
  text-align: center;
}

#cell-edit .monaco-editor[data-text-align='justify'] .view-line {
  text-align: justify;
}

#cell-edit .monaco-editor[data-underline='true'] .view-line {
  text-decoration: underline;
}

#cell-edit .monaco-editor[data-strike-through='true'] .view-line {
  text-decoration: line-through;
}

#cell-edit .monaco-editor[data-underline='true'][data-strike-through='true'] .view-line {
  text-decoration: underline line-through;
}
