docker/localstack/data
docker/mysql/data
docker/postgres/data
docker/redis/data
docker/static/html
docker/postgres-connection/data
docker/mysql-connection/data
docker/file-storage
docker/caddy/quadratic-client