html,
* {
  box-sizing: border-box;
}

/* input[type="text"] {
  font-size: 24px;
  letter-spacing: 1rem;
  font-weight: 500;
} */

@font-face {
  font-family: 'OpenSans';
  src: url('/public/fonts/opensans/OpenSans.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/public/fonts/opensans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('/public/fonts/opensans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('/public/fonts/opensans/OpenSans-BoldItalic.ttf');
}

/* Override default MUI dialog actions container so buttons align with content */
.MuiDialogActions-root {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.cell-reference-0 {
  color: #f79f2d !important;
}

.cell-reference-1 {
  color: #7e3794 !important;
}

.cell-reference-2 {
  color: #45abd3 !important;
}

.cell-reference-3 {
  color: #c56c8b !important;
}

.cell-reference-4 {
  color: #6199f6 !important;
}

.cell-reference-5 {
  color: #f6d358 !important;
}

.cell-reference-6 {
  color: #86c16d !important;
}

.cell-reference-7 {
  color: #89695e !important;
}

.cell-reference-8 {
  color: #999999 !important;
}

.cell-reference-9 {
  color: #415daa !important;
}
