html,
* {
  box-sizing: border-box;
}

/* input[type="text"] {
  font-size: 24px;
  letter-spacing: 1rem;
  font-weight: 500;
} */

@font-face {
  font-family: 'OpenSans';
  src: url('../public/fonts/opensans/OpenSans.ttf');
}
