name: Preview (Labeled)

on:
  pull_request:
    types: [labeled]

concurrency:
  group: pr-${{ github.event.pull_request.number }}-preview-build
  cancel-in-progress: false

jobs:
  call-preview:
    if: |
      (github.head_ref != 'qa' || github.base_ref != 'main') &&
      github.event.label.name == 'preview'
    uses: ./.github/workflows/preview-build-deploy-test.yml
    secrets: inherit
