name: Preview (Sync)

on:
  pull_request:
    types: [synchronize, reopened]

concurrency:
  group: pr-${{ github.event.pull_request.number }}-preview-build
  cancel-in-progress: true

jobs:
  call-preview:
    if: |
      (github.head_ref != 'qa' || github.base_ref != 'main') &&
      contains(github.event.pull_request.labels.*.name, 'preview')
    uses: ./.github/workflows/preview-build-deploy-test.yml
    secrets: inherit
